
  .home__filter-search-component{
    display: flex;
    align-items: baseline;
    margin: 10px;
  }
  
  .home__search-component{
    width: 50%;
  }
  
  .home__filters{
    width: 50%; 
  }
  
  .home-movie-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media  (max-width: 850px) {
    .home__filters{
    width: 100%; 
  }
  .home__search-component{
    width: 100%;
  }
  .home__filter-search-component {
  flex-direction: column-reverse;
  }
  }

  @media  (max-width: 450px) {
    .home__filters{
    width: 100%; 
  }
  .home__search-component{
    width: 100%;
  }
  }